

/* Circular navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #34C94B;
  color: #fff;
  padding: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

/* Arrow size */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px;
  font-weight: bold;
}

/* Hover effect */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #146c21;
}

